.mainInfo {
    /* background-color: rgb(23, 154, 220);   */
    background-image: linear-gradient(180deg, #2376ae 0%, rgba(255, 255, 255, 0.648) 50% ,#1f9f23 100%);
    padding: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 10px 20px 15px 13px rgba(0, 0, 0, 0.2);
  }
  /* 2, 2, 33, 0.2 */
  .city {
    font-size: 32px;
    text-align: center;
    font-weight: bolder;
  }
  
  .country {
    font-size: 20px;
    text-align: center;
  }
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .condition {
    font-size: 24px;
  }
  
  .current {
    font-size: 38px;
    font-weight: bold;
  }