@import url('https://taniarascia.github.io/primitive/css/main.css');



#formWeather{  
    margin-top: 20px;
    background-color: aliceblue;
    /* width: 50%;  */
    /* place-items: center; */
}
#displayWeather {
    display: flex;
    flex-direction: column;
    place-items: center;
}